<nav>
    <ul class="navbar">
        <li routerLinkActive="active">
            <a routerLink="/" class="watch">Басты бет</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/add" class="watch">Сөз қосу</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/all-words" class="watch">Барлық сөздер</a>
        </li>
    </ul>
</nav>

<fieldset class="main-page">
    <label>Барлығы:</label>
    <input type="number" id="count" value="1" style="margin-top: 44px; margin-left: 20px;"> <br>

    <fieldset class="word-in-all-words">
        <p id="word">А</p>
        <p id="translation" style="margin-bottom: 5px;">Алма - Яблоко</p>
        <p id="meaning" style="margin-top: 5px;">Алма ағашы - Яблоня</p>
    </fieldset>
</fieldset>

<footer></footer>

