<fieldset class="main-page">
    <label>Барлығы:</label>
    <div id="count" style="margin-top: 4%; margin-left: 10%; margin-bottom: 3.5%;">{{total}}</div> <br>

    <div style="column-count: 3;">
        <div *ngFor="let translation of translations" style="margin-left: 10%; margin-bottom: 3%; border-bottom: 1px solid black; margin-right: 10%;">
            <div id="word" style="margin-top: 2%;">{{ translation.word_kk }}</div>
            <div id="translation" style="margin-top: 1%;">{{ translation.word_ru }}</div>
            <div id="meaning" style="margin-top: 0.5%;">{{ translation.meaning_kk }} - {{ translation.meaning_ru }}</div>
        </div>
    </div>
      
</fieldset>

