<fieldset class="main-page">
    <label>Қазақша:</label>
    <input type="text" id="edit-word" value={{translation.word_kk}} style="margin-top: 4%; margin-left: 29px; width: 52.8%"> <br>
    <label>На русском:</label>
    <input type="text" id="edit-word" value={{translation.word_ru}} style="margin-top: 2%; margin-left: 12px; width: 52.8%"> <br>
    <label>Мағынасы:</label>
    <input type="text" id="edit-word" value="" style="margin-top: 2%; margin-left: 15px; width: 52.8%"> <br>
    <label>Значение:</label>
    <input type="text" id="edit-word" value="" style="margin-top: 2%; margin-left: 28px; width: 52.8%">
    <button id="search" (click)="editTranslation()">Өзгерту</button>

    <fieldset class="info">
        <p id="word">{{translation.word_kk}}</p>
        <p id="translation">{{translation.word_ru}}</p>
        <p id="meaning">{{translation.meaning}}</p>
    </fieldset>
    <button id="edit"><a routerLink="/edit" class="watch">Өңдеу</a></button> <br>
    <!--<button id="delete">Жою</button>-->
</fieldset>