<fieldset class="main-page">
    <h1>Өзге тілдің бәрін біл, өз тіліңді құрметте!</h1>
    <select name="languages" id = "language-type">
        <option value="kk">Қазақша-Русский</option>
        <option value="ru">Руский-Қазақша</option>
    </select>
    <br>
    <input #titleInput type="text" id="search-word" placeholder="Соз жазыныз..." value="" #name>
    <button id="search" (click)="searchTranslation()" >Іздеу</button>

    <fieldset class="info">
        <p id="word">{{translation.word_kk}}</p>
        <p id="translation">{{translation.word_ru}}</p>
        <p id="meaning">{{translation.meaning}}</p>
    </fieldset>
    <button id="edit"><a routerLink="/edit" (click)="getTranslatedData()">Өңдеу</a></button>
    <!--<button id="delete">Жою</button>-->

</fieldset>
    

