<fieldset class="main-page">

    <h2>Қазақша - Орысша</h2>
    <h1>Сөздік</h1>


    <div class="about-us-content">
        Сөздіктің мақсаты – қазақ немесе орыс тілін үйренушілерге көмек көрсету. 
                    Бұл онлайн сөздік мемлекеттік тілді сауатты қолдануға және оны дамытуға көмектеседі. 
                    Біз сөздікті пайдаланушыларды дәлелденген тілдік материалдарды қосуға, кемшіліктер туралы бізге хабарлауға 
                    және сайтты жақсарту мен дамыту үшін жаңа идеяларды ұсынуға шақырамыз. <br>
            
        Цель словаря – помочь желающим усвоить казахский или русский язык. 
                    Данный онлайн-словарь будет помогать грамотно пользоваться государственным языком и развивать его. 
                    Мы призываем пользователей добавлять проверенный языковой материал, сообщать нам о недостатках 
                    и предлагать новые идеи по улучшению и развитию сайта.
    </div>

</fieldset>