@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');

html {
    height: 100%;
}

body {
    margin: 0 auto;
    padding: 0 auto;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

a {
    font-size: 2.5vmin;
    font-weight: bold;
    color: #232536;
    text-decoration: none;   
    font-family: 'Comic Sans MS', cursive, sans-serif; 
}
  
.navbar {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    //overflow: hidden;
    background-color: #232536;
    position: top;
    height: 10vh;
    width: 100%;
}

.pages {
    float: right;
    margin-right: 1.5%;
}
  
.navbar li a {
    font-size: 2.8vmin;
    //font-family: ;
    font-weight: bold;
    display: block;
    color: white;
    text-align: center;
    padding-top: 18px;
    padding-right: 28px;
   // padding: 18px 28px;
    text-decoration: none;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.label {
    float: left;
    margin-left: 8%;
    height: 10vh;
}

.main {
    margin: 0 auto;
    padding: 0;
    background-color: #F4F0F8;
    min-height: 80vh;
    height: 100%;
    width: 100%;
    border: none;
}

h1 {
    font-size: 6vmin;
    text-align: center;
    //margin-left: 25%;
    margin-top: 4vh;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: #232536;
}

h2 {
    font-size: 4vmin;
    text-align: center;
    //margin-left: 25%;
    margin-top: 7vh;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: #232536;
}

select {
    //margin-left: 143.09px;
    margin-left: 10%;
    margin-top: 4%;
    //border: 0.5px solid #4C4C4C;
    border: none;
    height: 44px;
    width: 100%px;
    background-color: #F4F0F8;
    font-size: 2.5vmin;
    color: #6D6E76;
    border-bottom: 3px solid #4C4C4C;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    box-shadow: 0 4px 2px -2px #4C4C4C;
}

select:focus {
    outline: none;
}

input {
    padding: 5px;
    width: 60%;
    border: none;
    outline: none;
    border-bottom: 3px solid #4C4C4C;
    font-size: 2.5vmin;
    background-color: #F4F0F8;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    box-shadow: 0 4px 2px -2px #4C4C4C;
}

#search-word {
    display:inline-block;
    margin-left: 10%;
    margin-top: 2.5%;
}

#new-word {
    display:inline-block;
    margin-left: 10px;
    margin-top: 16px;
    width: 772px;
}

label {
    margin-left: 10%;
    font-size: 2.5vmin;
    font-weight: bold;
    color: #232536;
    font-family:'Comic Sans MS', cursive, sans-serif;
}

#edit-word {
    display:inline-block;
    margin-left: 10px;
    margin-top: 16px;
    color: #232536;
    width: 772px;
}

#count {
    display: inline-block;
    color: #232536;
    width: 100px;
    padding: 5px;
    border: none;
    outline: none;
    border-bottom: 3px solid #4C4C4C;
    font-size: 2.5vmin;
    background-color: #F4F0F8;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    box-shadow: 0 4px 2px -2px #4C4C4C;
    margin-top: 4%;
    margin-left: 10%;
    margin-bottom: 3.5%;
}

button {
    height: 8vh;
    padding: 15px;
    padding-bottom: 15px;
    width: 15%;
    background-color: #FFEA60;
    border: none;
    outline: none;
    color: #232536;
    border-radius: 25px;
    font-size: 2.5vmin;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    //box-shadow: 0 4px 15px #FFD050;
}

button:hover {
    background-color: #fffb9f;
}

button:focus {
    background-color: #FFAA3F;
}

.about-us-content-one {
    font-size: 2.2vmin;
    font-weight: bold;
    padding: 5vmin;
    margin-left: 19vw;
    margin-right: 48vw;
    margin-top: -68vh;
    text-align: center;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: #655953;
    background-color: #ffffff;
    position: relative;
    z-index: 1;
    box-shadow: 5px 10px 18px #ffffff;
}

.about-us-content-two {
      font-size: 1.8vmin;
      font-weight: bold;
      padding: 5vmin;
      margin-left: 48vw;
      margin-right: 19vw;
      margin-top: -27vh;
      text-align: center;
      font-family: 'Comic Sans MS', cursive, sans-serif;
      color: #5f6553;
      background-color: #ffffff;
      position: relative;
      z-index: 1;
      box-shadow: 5px 10px 18px #ffffff;
  }

#search {
    margin-left: 5%;
}

.info {
    height: 30vh;
    //width: 851px;
    width: 59%;
    background-color: #FFFFFF;
    //margin-left: 110px;
    margin-left: 10%;
    margin-top: 10vh;
    margin-bottom: 0;
    border: none;
    border-radius: 0.5cm;
    display: inline-block;
    //box-shadow: 0 4px 15px #FFFFFF;
}

.word-in-all-words {
    display:inline-block;
    margin-left: 98px;
    margin-top: 34px;
    border: none;
}

#word {
    font-family:'Comic Sans MS', cursive, sans-serif;
    font-weight: bold;
    font-size: 3.5vmin;
    color: black;
}

#translation {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 2.4vmin;
    color: black;
}

#meaning {
    font-size: 2.5vmin;
    color: black;
    padding-left: 0px;
    margin-right: 10%;
    margin-top: 20px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

#change-btn {
    position: absolute;
    margin-left: 5%;
    margin-top: 20vh;
}