@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');

body {
    margin: 0;
    padding: 0;
}

a {
    font-size: 16px;
    font-weight: bold;
    color: #232536;
    text-decoration: none;   
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    //overflow: hidden;
    background-color: #232536;
    position: top;
    height: 61px;
    width: 100%;
}

.navbar li {
    float: right;
    margin-right: 1.5%;
}
  
.navbar li a {
    font-size: 18px;
    //font-family: ;
    font-weight: bold;
    display: block;
    color: white;
    text-align: center;
    padding: 18px 28px;
    text-decoration: none;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-page {
    margin: 0;
    padding: 0;
    background-color: #F4F0F8;
    height: 100%;
    width: 100%;
    border: none;
}

h1 {
    text-align: center;
    //margin-left: 25%;
    margin-top: 4%;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

select {
    //margin-left: 143.09px;
    margin-left: 10%;
    margin-top: 4%;
    //border: 0.5px solid #4C4C4C;
    border: none;
    height: 44px;
    width: 100%px;
    background-color: #F4F0F8;
    font-size: 16px;
    color: #6D6E76;
    border-bottom: 3px solid #4C4C4C;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 0 4px 2px -2px #4C4C4C;
}

select:focus {
    outline: none;
}

/*input {
    border: 0.5px solid #4C4C4C;
    height: 40px;
    //width: 835.52px;
    width: 60%;
    background-color: #F4F0F8;
    font-size: 16px;
    color: #6D6E76;
}*/

input {
    padding: 5px;
    width: 60%;
    border: none;
    outline: none;
    border-bottom: 3px solid #4C4C4C;
    font-size: 16px;
    background-color: #F4F0F8;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 0 4px 2px -2px #4C4C4C;
}

#search-word {
    display:inline-block;
    margin-left: 10%;
    margin-top: 2.5%;
}

#new-word {
    display:inline-block;
    margin-left: 10px;
    margin-top: 16px;
    width: 772px;
}

label {
    margin-left: 10%;
    font-size: 16px;
    font-weight: bold;
    color: #232536;
}

#edit-word {
    display:inline-block;
    margin-left: 10px;
    margin-top: 16px;
    color: #232536;
    width: 772px;
}

#count {
    display: inline-block;
    color: #232536;
    width: 100px;
}

/*button {
    border: none;
    height: 44px;
    width: 204px;
    background-color: #FFD050;
    font-size: 16px;
    font-weight: bold;
    color: #232536;
}*/

button {
    padding: 15px 0;
    width: 15%;
    background-color: #FFEA60;
    border: none;
    outline: none;
    color: #232536;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    //box-shadow: 0 4px 15px #FFD050;
}

button:hover {
    background-color: #fffb9f;
}

button:focus {
    background-color: #FFAA3F;
}

#search {
    margin-left: 5%;
}

.info {
    height: 166px;
    //width: 851px;
    width: 59%;
    background-color: #FFFFFF;
    //margin-left: 110px;
    margin-left: 10%;
    margin-top: 3.5%;
    margin-bottom: 4%;
    border: none;
    border-radius: 0.5cm;
    display: inline-block;
    //box-shadow: 0 4px 15px #FFFFFF;
}

.word-in-all-words {
    display:inline-block;
    margin-left: 98px;
    margin-top: 34px;
    border: none;
}

#word {
    /*font-size: 24px;
    font-weight: bold;
    color: #232536;*/
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: black;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#translation {
    /*font-size: 18px;
    font-weight: bold;
    color: #232536;*/
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    color: black;
}

#meaning {
    /*font-size: 14px;
    //font-weight: bold;
    color: #6D6E76;*/
    color: black;
    //font-style: italic;
   // border-bottom: 1px solid black;
    padding-left: 0px;
    margin-right: 10%;
    margin-top: 20px;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer {
    margin-bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #232536;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

#edit {
    position: absolute;
    margin-left: 5%;
    margin-top: 4%;
}

#delete {
    position: absolute;
    margin-left: 5%;
    margin-top: 9%;
}
